<!DOCTYPE html><!--Versión de HTML del doc-->
<html lang="es-ES"> <!--Comienzo del código HTML // Agrego atributo de lenguaje para marcar que la página está en español (ayuda a los buscadores web a que interprete mejor las busquedas)-->
<head><!--Información-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet"  type="text/css" href="../css/style.css">
  <title> que hacemos en chill estudio: la agencia de marketing digital impulsada por la estrategia y la creatividad</title>
  <meta name="description" content="Somos una agencia de marketing digital estratégico de servicio completo, lista para aprovechar sus oportunidades de crecimiento.">
</head>
<body style="overflow-x: hidden">
  <!-- Comienzo de Header –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  <header class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-2 col-sm-4 col-xs-12">
        <a class="navbar-brand img-fluid rounded align-self-end" href="../index.html"> <img class="img-fluid logo" src="../img/logo/logo2.png" alt="logo_chill_estudio"> </a>
      </div>
      <div class=" nav col-md-8 col-lg-8 col-xl-8 col-sm-8 col-xs-12" style="background-color:#ffffff !important;">
        <nav class=" navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/estudio.html">Estudio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/clientes.html">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contacto.html">Contacto</a>
              </li>
            </ul>
          </div>  
        </nav>
      </div>
      <div class="social-container col-sm-2 col-xs-2 d-none d-md-block"> <!--incorporamos las redes sociales-->
        <ul class="social-icons">
          <li ><a  href="https://www.instagram.com/"><i class="fa fa-instagram icono"></i></a></li>
          <li ><a  href="https://twitter.com/"><i class="fa fa-twitter icono"></i></a></li>
          <li ><a  href="https://www.linkedin.com/"><i class="fa fa-linkedin icono"></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="container-fluid" id="titulo">
    <div class="row">
      <div class="nombrePag">
        <h1>Estudio</h1> <!-- Sección en que nos encontramos-->
      </div> 
      <div id="carouselExampleCaptions" class="carousel slide col-lg-12 col-md-12 col-sm-12 col-xs-12" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img src="../img/posencabezado/work-header.jpg" class="d-block w-100 img-fluid" alt="futuro digital">
            <div class="carousel-caption d-none d-md-block">
              <p>Una agencia digital impulsada por estrategias creativas, lista para desbloquear tus oportunidades de crecimiento.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/posencabezado/services-header.jpg" class="d-block w-100 img-fluid" alt="transformación digital">
            <div class="carousel-caption d-none d-md-block">
              <p>Somos expertos en estrategia y transformación digital.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/posencabezado/news-header.jpg" class="d-block w-100 img-fluid" alt="actualidad digital">
            <div class="carousel-caption d-none d-md-block">
              <p>Nuestros estándares de excelencia son altos y estamos listos para cumplir con los suyos.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="seccion-titulo-centrado">
      <h2 >
        NOTICIAS
    </h2>
      <span class="vc_separator" > </span>
    </div>    
  </section>   
      <!-- Final de titulo y carousel –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
<!--Start contenido-->   
<section class=" container-fluid background" id="contenido1">
    <div class="wrapper">
      <div class="item-bg"></div>
      <div class="news-slider">
        <div class="news-slider__wrp swiper-wrapper">
          <div class="news-slider__item swiper-slide">
            <a href="#" class="news__item">
              <div class="news-date">
                <span class="news-date__title">24</span>
                <span class="news-date__txt">Mayo</span>
              </div>
              <div class="news__title">
                Generación Streaming
              </div>
              <p class="news__txt">
                En una encuesta de 2018, Deloitte ya había revelado el surgimiento de los “MilleXZials”: consumidores de 15 a 51 de las generaciones Z, X e Y (millennials) que son usuarios fieles de las plataformas SVOD.                      </p>
              <div class="news__img">
                <img src="../img/blog/streaming.jpg" alt="news">
              </div>
            </a>
          </div>
          <div class="news-slider__item swiper-slide">
            <a href="#" class="news__item">
              <div class="news-date">
                <span class="news-date__title">25</span>
                <span class="news-date__txt">Mayo</span>
              </div>
              <div class="news__title">
                  Snapchat para su estrategia digital
              </div>
              <p class="news__txt">
                Con más de 300 millones de usuarios activos mensuales, Snapchat puede ser una gran herramienta para llegar y monetizar a las audiencias más jóvenes.                      </p>
              <div class="news__img">
                <img src="../img/blog/snapchat.png" alt="snapchat news">
              </div>
            </a>
          </div>
          <div class="news-slider__item swiper-slide">
            <a href="#" class="news__item">
              <div class="news-date">
                <span class="news-date__title">26</span>
                <span class="news-date__txt">Mayo</span>
              </div>
              <div class="news__title">
                YouTube lanza funciones para apoyar a los artistas
              </div>
              <p class="news__txt">
                Con los últimos cambios, YouTube busca brindar un lugar destacado a los artistas para que alojen sus canciones, con un control transparente de las visitas reales.
              </p>
              <div class="news__img">
                <img src="../img/blog/YouTube-for-Artists.png" alt="news">
              </div>
            </a>
          </div>
          <div class="news-slider__item swiper-slide">
            <a href="#" class="news__item">
              <div class="news-date">
                <span class="news-date__title">27</span>
                <span class="news-date__txt">Mayo</span>
              </div>
              <div class="news__title">
                ¿Debo anunciarme en TikTok?
              </div>
              <p class="news__txt">
                TikTok es la aplicación del momento y la tendencia entre adolescentes, marcas y celebridades. Es una plataforma donde los usuarios crean y comparten videos cortos en bucle y ha generado un nuevo fenómeno.
              </p>
              <div class="news__img">
                <img src="../img/blog/TikTok-800x445.jpg" alt="news">
              </div>
            </a>
          </div>
          <div class="news-slider__item swiper-slide">
            <a href="#" class="news__item">
              <div class="news-date">
                <span class="news-date__title">28</span>
                <span class="news-date__txt">Mayo</span>
              </div>
              <div class="news__title">
                Cómo utilizar Instagram para tu estrategia de marketing
              </div>
              <p class="news__txt">
                Instagram es mucho más que una red social, con más de 3.000 millones de usuarios ayuda a empresas de múltiples industrias a llegar a su audiencia.
              </p>
              <div class="news__img">
                <img src="../img/blog/How-to-use-Instagram-for-your-marketing-strategy.jpg" alt="news">
              </div>
            </a>
          </div>
          <div class="news-slider__item swiper-slide">
            <a href="#" class="news__item">
              <div class="news-date">
                <span class="news-date__title">29</span>
                <span class="news-date__txt">Mayo</span>
              </div>
              <div class="news__title">
                La realidad virtual cambiará por completo la era digital
              </div>
              <p class="news__txt">
                Se espera que en los próximos años esta tecnología se expanda rapidamente entre los mercados de mayor poder adquisitivo mundial.
              </p>
              <div class="news__img">
                <img src="../img/blog/news-header.jpg" alt="news">
              </div>
            </a>
          </div>
        </div>
        <div class="news-slider__ctr">
          <div class="news-slider__arrows">
            <button class="news-slider__arrow news-slider-prev">
              <span class="icon-font">
                <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
              </span>
            </button>
            <button class="news-slider__arrow news-slider-next">
              <span class="icon-font">
                <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
              </span>
            </button>
          </div>
          <div class="news-slider__pagination"></div>
        </div>
      </div>
    </div>
    <svg hidden="hidden">
      <defs>
        <symbol id="icon-arrow-left" viewBox="0 0 32 32">
          <title>arrow-left</title>
          <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
        </symbol>
        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
          <title>arrow-right</title>
          <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
        </symbol>
      </defs>
    </svg>
  </section>
  <section id="contenidoBlog2">
    <div class="contenidoBlog2">
      <div class="card"> 
        <p class="date">7 Abril</p>
        <h3 class="title">Hacer más con menos</h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
      
      <div class="card">
        <p class="date">25 Marzo</p>
        <h3 class="title">Tecnicas para la desconexión</h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
      
      <div class="card">
        <p class="date">20 Marzo</p>
        <h3 class="title">6 apps imprescindibles</h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
      
      <div class="card">
        <p class="date">28 Febrero</p>
        <h3 class="title">¿Quiénes son la "Generación Stream"</h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
      <div class="card">
        <p class="date">26 Febrero</p>
        <h3 class="title">El fin de la era del salvaje oeste de las redes sociales</h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
      
      <div class="card">
        <p class="date">15 Febrero</p>
        <h3 class="title">Todo lo que necesita saber sobre el SEO de YouTube</h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
      
      <div class="card">
        <p class="date">4 Febrero</p>
        <h3 class="title"> Tips sobre publicidad digital </h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
      
      <div class="card">
        <p class="date">2 Febrero</p>
        <h3 class="title">Desarrollador Web Junior</h3>
        <a class="btn-link" href="#">Leer Más</a>
      </div>
    </div>

  </section>
    <!--end contenido-->      
    <!--Comienzo Footer-->
    <footer class="site-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-5 textofooter">
            <h6>Chill</h6>
            <p class="text-justify">Somos una agencia de marketing digital estratégico de servicio completo, lista para aprovechar sus oportunidades de crecimiento. </p>
              <div class="newsletter">
                <h6>Suscribite</h6>
                  <form method="post">
                      <input type="email" name="email" placeholder="Ingresa tu mail">
                      <i class="fas fa-envelope" style="color: white;"></i>
                  </form>
              </div>
          </div>
          <div class="col-xs-6 col-md-3 contact-container seccion-titulo-centrado">
            <img src="../img/logo/logo2.png" alt="logo_chill"; class="logofooter"> 
            <span class="vc_separator_footer center"> </span>
          </div>
          <div class="col-xs-6 col-md-4">
            <h6>Enlases rápidos</h6>
            <ul class="footer-links">
              <li><a href="../index.html">Portfolio</a></li>
              <li><a href="estudio.html">Estudio</a></li>
              <li><a href="clientes.html">Clientes</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contacto.html">Contactos</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2019 Todos los derechos reservados por <a href="../index.html">Chill</a>.
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="redesfooter">
                <li ><a  href="https://www.instagram.com/"><i class="fa fa-instagram icono"></i></a></li>
                <li ><a  href="https://twitter.com/"><i class="fa fa-twitter icono"></i></a></li>
                <li ><a  href="https://www.linkedin.com/"><i class="fa fa-linkedin icono"></i></a></li>
            </div>
          </div>
        </div>
      </div>
    </footer>  
    <!--final Footer-->
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
    <script  src="../js/blog.js"></script>
  </body>
</html>

