<!DOCTYPE html><!--Versión de HTML del doc-->
<html lang="es-ES"> <!--Comienzo del código HTML // Agrego atributo de lenguaje para marcar que la página está en español (ayuda a los buscadores web a que interprete mejor las busquedas)-->
   <head><!--Información de la página-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="../css/style.css">
    <title> contactarse con Chill estudio: la agencia de marketing digital impulsada por la estrategia y la creatividad</title>
    <meta name="description" content="Somos una agencia de marketing digital estratégico de servicio completo, lista para aprovechar sus oportunidades de crecimiento.">

    </head>
    <body><!--Acá comienza el contenido de la página-->
        <div id="grillaContactos">
          <header class="container-fluid">
            <div class="row">
              <div class="col-md-2 col-lg-2 col-xl-2 col-sm-4 col-xs-12">
                <a class="navbar-brand img-fluid rounded align-self-end" href="../index.html"> <img class="img-fluid logo"src="../img/logo/logo2.png" alt="logo_chill_estudio"> </a>
              </div>
              <div class="  nav col-md-8 col-lg-8 col-xl-8 col-sm-8 col-xs-12" style="background-color:#ffffff !important;">
                <nav class=" navbar navbar-expand-lg navbar-light bg-light">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbar-center">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="estudio.html">Estudio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="clientes.html">Clientes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                      </li>
                    </ul>
                  </div>  
                </nav>
              </div>
              <div class="social-container col-sm-2 col-xs-2 d-none d-md-block"> <!--incorporamos las redes sociales-->
                <ul class="social-icons">
                  <li ><a  href="https://www.instagram.com/"><i class="fa fa-instagram icono"></i></a></li>
                  <li ><a  href="https://twitter.com/"><i class="fa fa-twitter icono"></i></a></li>
                  <li ><a  href="https://www.linkedin.com/"><i class="fa fa-linkedin icono"></i></a></li>
                </ul>
              </div>
            </div>
          </header>
          <div class="nombrePag">
            <h1>Contacto</h1> <!-- Sección en que nos encontramos-->
          </div> 
          <!--Contenido introduccion-->
          <div class="seccion-titulo-centrado">
            <h2 >Cuéntanos qué tienes en mente</h2>
            <span class="vc_separator" >
            </span>
          </div>
                <!--Contenido formulario - olas-->
          <div class="header">
            <span class="heading-medium">Estamos listos para comenzar a escribir tu próximo capítulo, háganos saber cómo podemos ayudar.</span>
            <div class="inner-header flex">
              <section class="main">
                <form class="input">
                  <div class="float">
                    <div class="form-control">
                      <label for="name">Nombre</label>
                      <input type="text" name="name" id="name" title="Ingrese su Nombre" placeholder="Ingrese su nombre">
                    </div>	
                  </div>
                  <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" title="Ingresar email" placeholder="Ingrese su email">
                  </div>
                  <div class="form-control">
                    <label for="message">Mensaje</label>
                    <input type="text" name="message" id="message" title="Ingresar Mensaje" placeholder="Ingrese su mensaje">
                  </div>
                  <div class="form-control" id="btngrp">
                    <input type="submit" name="name" id="name" title="enviar mensaje" value="Enviar" class="btn">
                  </div>
                </form>
              </div>	
            <!--Waves-->
          </section>
            <div>
              <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                  <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                  </g>
              </svg>
            </div>              
        <!--Comienzo Footer-->
    <footer class="site-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-5 textofooter">
            <h6>Chill</h6>
            <p class="text-justify">Somos una agencia de marketing digital estratégico de servicio completo, lista para aprovechar sus oportunidades de crecimiento.</p>
              <div class="newsletter">
                <h6>Suscribite</h6>
                  <form method="post">
                      <input type="email" name="email" placeholder="Ingresa tu mail">
                      <i class="fas fa-envelope" style="color: white;"></i>
                  </form>
              </div>
          </div>
          <div class="col-xs-6 col-md-3 contact-container seccion-titulo-centrado">
            <img src="../img/logo/logo2.png" alt="logo_chill"; class="logofooter"> 
            <span class="vc_separator_footer"> </span>
          </div>
          <div class="col-xs-6 col-md-4">
            <h6>Enlases rápidos</h6>
            <ul class="footer-links">
              <li><a href="../index.html">Portfolio</a></li>
              <li><a href="estudio.html">Estudio</a></li>
              <li><a href="clientes.html">Clientes</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contacto.html">Contactos</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2019 Todos los derechos reservados por <a href="../index.html">Chill</a>.
            </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="redesfooter">
                <li ><a  href="https://www.instagram.com/"><i class="fa fa-instagram icono"></i></a></li>
                <li ><a  href="https://twitter.com/"><i class="fa fa-twitter icono"></i></a></li>
                <li ><a  href="https://www.linkedin.com/"><i class="fa fa-linkedin icono"></i></a></li>
            </div>
          </div>
        </div>
      </div>
    </footer>  
    <!--final Footer-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>